@import "./reset.css";
@import "./style.css";

.container {
    height: 100svh;
    position: relative;
}

.text-overlay {
    position: absolute;
    bottom: 30px;
    left: 50%;
}

.text-overlay p {
    font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
}

form {
    display: grid;
}

.field{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    display: none;
    place-items: center;
}

.sign-in {
    position: relative;
    background-color: rgb(236, 236, 236);
    height: 380px;
    width: 550px;
    display: grid;
    align-items: center;
    justify-content: center;
}

input{
    width: 100%;
    height: 30px;
}

.submit-btn {
    display: block;
    margin: 5px auto;
    width: 90px;
    height: 35px;
    background-color: grey;
    text-align: center;
}

.without {
    text-align: center;
}

.x {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0,0,0, 0.6)
}